/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

/* divすべてをaタグでくくるよ */
.special {
  position: relative;
  z-index: 1;
  /* 必要であればリンク要素の重なりのベース順序指定 */
}

.special a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  z-index: 2;
  /* 必要であればリンク要素の重なりのベース順序指定 */
}

.special:hover {
  filter: alpha(opacity=70);
  /* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";
  /* IE 8,9 */
  -moz-opacity: 0.7;
  /* FF , Netscape */
  -khtml-opacity: 0.7;
  /* Safari 1.x */
  opacity: 0.7;
  zoom: 1;
  /*IE*/
}

/* ガターの溝をなくす */
.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* HEROテキスト */
.neon1 {
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 1);
}

.neon2 {
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 1);
}

/*
 * テーブル調整
 */
table {
  margin: 20px auto;
}

.tbl-r02 {
  width: 100%;
}

.tbl-r02 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 20%;
}

.tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 80%;
}

@media screen and (max-width: 919px) {

  .tbl-r02 {
    width: 100%;
  }

.tbl-r02 th {
      border-bottom: none;
}

  .tbl-r02 th,
  .tbl-r02 td {
    display: block;
    width: 100%;
  }


}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}


/* リストマーク追加  */
.list_test-wrap {
    list-style:  none;  /* デフォルトのアイコンを消す */
    margin:  0;         /* デフォルト指定上書き */
    padding: 0;         /* デフォルト指定上書き */
}

.list_test:before {
    content:  "";     /* 空の要素作成 */
    width:  10px;               /* 幅指定 */
    height:  10px;              /* 高さ指定 */
    display:  inline-block;     /* インラインブロックにする */
    background-color: #ec1d25;  /* 背景色指定 */
    border-radius:  50%;        /* 要素を丸くする */
    position:  relative;        /* 位置調整 */
    top: -1px;                  /* 位置調整 */
    margin-right: 5px;          /* 余白指定 */
}

/* フロアマップ用 */
.item-gallery1 {
  width: calc((100% - 140px) / 2);
  margin: 30px 15px;
  position: relative;
}

@media (max-width: 768px) {
  .item-gallery1 {
    width: calc((100% - 110px) / 2);
  }
}

@media (max-width: 576px) {
  .item-gallery1 {
    width: calc((100% - 30px) / 1);
  }

}
