/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

/* divすべてをaタグでくくるよ */
.special {
  position: relative;
  z-index: 1;
  /* 必要であればリンク要素の重なりのベース順序指定 */
}

.special a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  z-index: 2;
  /* 必要であればリンク要素の重なりのベース順序指定 */
}

.special:hover {
  filter: alpha(opacity=70);
  /* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";
  /* IE 8,9 */
  -moz-opacity: 0.7;
  /* FF , Netscape */
  -khtml-opacity: 0.7;
  /* Safari 1.x */
  opacity: 0.7;
  zoom: 1;
  /*IE*/
}

/* ガターの溝をなくす */
.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* HEROテキスト */
.neon1 {
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 1);
}

.neon2 {
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 1);
}

/*
 * テーブル調整
 */
table {
  margin: 20px auto;
}

.tbl-r02 {
  width: 100%;
}

.tbl-r02 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 20%;
}

.tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 80%;
}

@media screen and (max-width: 919px) {
  .tbl-r02 {
    width: 100%;
  }

  .tbl-r02 th {
    border-bottom: none;
  }

  .tbl-r02 th,
  .tbl-r02 td {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

/* リストマーク追加  */
.list_test-wrap {
  list-style: none;
  /* デフォルトのアイコンを消す */
  margin: 0;
  /* デフォルト指定上書き */
  padding: 0;
  /* デフォルト指定上書き */
}

.list_test:before {
  content: "";
  /* 空の要素作成 */
  width: 10px;
  /* 幅指定 */
  height: 10px;
  /* 高さ指定 */
  display: inline-block;
  /* インラインブロックにする */
  background-color: #ec1d25;
  /* 背景色指定 */
  border-radius: 50%;
  /* 要素を丸くする */
  position: relative;
  /* 位置調整 */
  top: -1px;
  /* 位置調整 */
  margin-right: 5px;
  /* 余白指定 */
}

.list_test2:before {
  content: "";
  /* 空の要素作成 */
  width: 10px;
  /* 幅指定 */
  height: 10px;
  /* 高さ指定 */
  display: inline-block;
  /* インラインブロックにする */
  background-color: #000000;
  /* 背景色指定 */
  border-radius: 50%;
  /* 要素を丸くする */
  position: relative;
  /* 位置調整 */
  top: -1px;
  /* 位置調整 */
  margin-right: 5px;
  /* 余白指定 */
}

.list_test-wrap10 {
  list-style: none;
  margin: 0;
  padding: 0;
  color:white;
}

.list_test10:before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  /* 背景色指定 */
  border-radius: 50%;
  /* 要素を丸くする */
  position: relative;
  top: -1px;
  margin-right: 5px;
}

/* フロアマップ用 */
.item-gallery1 {
  width: calc((100% - 140px) / 2);
  margin: 30px 15px;
  position: relative;
}

@media (max-width: 768px) {
  .item-gallery1 {
    width: calc((100% - 110px) / 2);
  }
}

@media (max-width: 576px) {
  .item-gallery1 {
    width: calc((100% - 30px) / 1);
  }
}

/* 居室用 */
.item-gallery2 {
  width: calc((100% - 140px) / 1);
  margin: 30px 15px;
  position: relative;
}

@media (max-width: 768px) {
  .item-gallery2 {
    width: calc((100% - 110px) / 1);
  }
}

@media (max-width: 576px) {
  .item-gallery2 {
    width: calc((100% - 30px) / 1);
  }
}

/*--------------------
ラジオボタンカスタマイズ
--------------------*/
.selectradio {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selectradio .selectradio-item {
  margin: 5px 0;
  padding-right: 30px;
}

.selectradio input[type="radio"] {
  display: none;
}

.selectradio input[type="radio"]:checked+label {
  background: rgba(214, 28, 34, .2);
  color: #333333;
  border: 2px solid #d61c22;
}

.selectradio .selectradio-label {
  display: block;
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0 5px;
  cursor: pointer;
  color: #333333;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #e9ecef;
  transition: 0.5s;
  border-radius: 4px;
}

.selectradio.selectradio-inline .selectradio-item {
  display: inline-block;
}

.selectradio.selectradio-inline .selectradio-label {
  display: inline-block;
  /* width: 100px; */
  width: 150px;
}

@media screen and (max-width: 640px) {
  .button a {
    pointer-events: none;
  }
}

/* アニメーション */
#hero {
  width: 100%;
  height: 100vh;
}

.cb-slideshow,
.cb-slideshow:after {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cb-slideshow:after {
  content: '';
  background: transparent url(../img/hopme/pattern.png) repeat top left;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  -o-animation: imageAnimation 24s linear infinite 0s;
  -ms-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s;
}

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-animation: titleAnimation 24s linear infinite 0s;
  -moz-animation: titleAnimation 24s linear infinite 0s;
  -o-animation: titleAnimation 24s linear infinite 0s;
  -ms-animation: titleAnimation 24s linear infinite 0s;
  animation: titleAnimation 24s linear infinite 0s;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,900&display=swap');
.cb-slideshow li div h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  padding: 0 30px;
  line-height: 120px;
  color: rgba(255, 255, 255, 0.8);
}

.cb-slideshow li div h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  padding: 0 30px;
  line-height: 120px;
  color: rgba(255, 255, 255, 0.8);
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/home/1.jpg)
}

.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/home/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/home/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/home/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }

  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-100%);
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }

  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }

  25% {
    opacity: 0;
    -moz-transform: scale(1.1) translateY(-100%);
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    -o-transform: scale(1.1);
  }

  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }

  25% {
    opacity: 0;
    -o-transform: scale(1.1) translateY(-100%);
  }

  100% {
    opacity: 0
  }
}

@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }

  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }

  25% {
    opacity: 0;
    -ms-transform: scale(1.1) translateY(-100%);
  }

  100% {
    opacity: 0
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    transform: scale(1.1);
  }

  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }

  25% {
    opacity: 0;
    -transform: scale(1.1) translateY(-100%);
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
  }

  8% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }

  17% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }

  19% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
    -moz-transform: translateY(-300%);
  }

  8% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }

  17% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }

  19% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
    -o-transform: translateY(-300%);
  }

  8% {
    opacity: 1;
    -o-transform: translateY(0%);
  }

  17% {
    opacity: 1;
    -o-transform: translateY(0%);
  }

  19% {
    opacity: 0;
    -o-transform: translateY(100%);
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
    -ms-transform: translateY(-300%);
  }

  8% {
    opacity: 1;
    -ms-transform: translateY(0%);
  }

  17% {
    opacity: 1;
    -ms-transform: translateY(0%);
  }

  19% {
    opacity: 0;
    -ms-transform: translateY(100%);
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(-300%);
  }

  8% {
    opacity: 1;
    transform: translateY(0%);
  }

  17% {
    opacity: 1;
    transform: translateY(0%);
  }

  19% {
    opacity: 0;
    transform: translateY(100%);
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .cb-slideshow li div h4 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .cb-slideshow li div h4 {
    font-size: 1rem;
    line-height: 2rem;
  }
}

body {
  overflow-x: hidden;
}

/* トップページ高齢者がペットと暮らす効用  */
.color10 {
  color: #ffffff;
  background-color:rgba(236, 29, 37, .5)
}
